body {
    background-color: #faf2e4;
    margin: 0 10%;
    font-family: sans-serif;
}
  
h1 {
    text-align: center;
    font-family: serif;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 1px solid #57b1dc;
    margin-top: 30px;
}
  
h2 {
    color: #d1633c;
    font-size: 1em;
}

h3 {
    color: #d1633c;
    font-size: .85em;
    padding-bottom: 0px;
    margin-bottom: 2px;
}
  
footer {
      border-top: 1px solid #57b1dc
}
  
.footer {
    font-size: 14px;
}

.goose_icon{
    max-width: 5%;
    max-height: 5%;
}